.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#0088CC;
	background-image:-moz-linear-gradient(top, #0088cc, #0044cc);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image:-o-linear-gradient(top, #0088cc, #0044cc);
	background-image:linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color:#0044cc #0044cc #002a80;
        -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
height: 20px;
padding:10px;
width:80px;

	}
.qq-upload-button-hover {
     background:#0043CA;
     -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}